@inject IConfiguration config
@{
	AppConfig? appConfig = config.GetSection("Project").Get<AppConfig>();
}

<!-- Header Wrapper -->
<div id="header-wrapper">
	<div class="container">

		<!-- Header -->
		<header id="header">
			<div class="inner">

				<!-- Logo -->
				<h1>
					<a asp-area="" asp-controller="Home" asp-action="Index" id="logo">
						@appConfig?.Company.CompanyName
					</a>
				</h1>

				@(await Component.InvokeAsync<MenuViewComponent>())

			</div>
		</header>

	</div>
</div>
