<div class="col-4 col-12-medium">
	<div id="sidebar">

		<!-- Sidebar -->

		<section>
			<header class="major">
				<h2>Добро пожаловать!</h2>
			</header>
			<p>
				Наша компания живет за счет доверия к нам!
				Наша история в России даже больше,
				чем история эльфов в Средиземье.
				Поэтому за качество отвечаем своими острыми ушами.
				Только не просите их показать.
			</p>
			<footer>
				<a asp-area="" asp-controller="Services" asp-action="Index" class="button icon solid fa-info-circle">
					Перейти к услугам
				</a>
			</footer>
		</section>

	</div>
</div>