<div class="col-4 col-12-medium">
	<div id="sidebar">

		<!-- Sidebar -->

		<section>
			<header class="major">
				<h2>Салам пополам!</h2>
			</header>
			<p>
				ээй бля буду за базар отвечаю
				работу свою знаю
				мамай клянусь
				от души все сделаю душевно
				в душу
				вай будет сказка брат
			</p>
			<footer>
				<a asp-area="" asp-controller="Services" asp-action="Index" class="button icon solid fa-info-circle">
					Перейти к услугам
				</a>
			</footer>
		</section>

	</div>
</div>