@await Html.PartialAsync("_SidebarPartial")
<div class="col-8 col-12-medium imp-medium">
	<div id="content">

		<!-- Content -->

		<article class="major">
			<header>
				<h2>привет, потом напишу</h2>

				<p>
					потом допишу
				</p>
			</header>
			
			<span class="image featured"><img src="~/img/cat.jpg" alt="welcome"/></span>

		</article>

	</div>
</div>