@await Html.PartialAsync("_SidebarPartial")
<div class="col-8 col-12-medium imp-medium">
	<div id="content">

		<!-- Content -->

		<article class="major">
			<header>
				<h2>Строим и ломаем с любовью</h2>

				<p>
					Честное пионерское
				</p>
			</header>
			
			<span class="image featured"><img src="~/img/1662550786_2-kartinkof-club-p-novie-i-krasivie-kartinki-stroika-2.jpg" alt="welcome"/></span>

		</article>

	</div>
</div>